name: CI/CD Pipeline de la Aplicaci贸n

on:
  push:
    branches:
      - main 
jobs:
  test:
    name: Pruebas Unitarias
    runs-on: ubuntu-latest
    steps:
      - name: 1. Descargar c贸digo fuente
        uses: actions/checkout@v4

      - name: 2. Configurar entorno de Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 3. Instalar dependencias
        run: |
          pip install poetry
          poetry install

      - name: 4. Ejecutar suite de pruebas
        run: poetry run pytest

  build-and-push:
    name: Construir y Publicar Imagen Docker
    runs-on: ubuntu-latest
    needs: test 
    outputs:
      image_tag: ${{ steps.meta.outputs.version }} 

    steps:
      - name: 1. Descargar c贸digo fuente
        uses: actions/checkout@v4

      - name: 2. Iniciar sesi贸n en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 3. Generar metadatos de la imagen (nombre y tag)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: jjsuarezburgos/pipeline 
          tags: type=sha,prefix=,format=short

      - name: 4. Construir y subir la imagen al registro
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  update-helm-repo:
    name:  Actualizar Repositorio Helm
    runs-on: ubuntu-latest
    needs: build-and-push 

    steps:
      - name: 1. Descargar el repositorio de configuraci贸n Helm
        uses: actions/checkout@v4
        with:
          repository: jjsuarezburgos/charts-helm 
          token: ${{ secrets.PAT_TOKEN }}

      - name: 2. Instalar 'yq' para edici贸n de YAML
        run: sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq && sudo chmod +x /usr/bin/yq

      - name: 3. Actualizar el tag de la imagen en values.yaml
        run: |
          IMAGE_TAG=${{ needs.build-and-push.outputs.image_tag }}
          yq e -i '.image.tag = env(IMAGE_TAG)' ./charts/aplicacion/values.yaml
          echo "El archivo values.yaml ha sido actualizado para usar el tag: $IMAGE_TAG"

      - name: 4. Realizar commit y subir los cambios de configuraci贸n
        run: |
          git config --global user.name 'GitHub Actions Bot'
          git config --global user.email 'bot@github.actions'
          git add ./charts/aplicacion/values.yaml
          git commit -m "CI: Actualiza la imagen de 'aplicacion' a ${{ needs.build-and-push.outputs.image_tag }}"
          git push
